@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&family=Roboto+Slab:wght@300;400;500;600;700;800;900&display=swap');
$pad: 10px;
$blur: 2px;
@mixin margem {
  margin-top: 3px;
  margin-bottom: 3px;
}
@mixin botao($cor) {
  border-style: none;
  border-radius: 5px;
  padding: 7px;
  cursor: pointer;
  box-shadow: 1px 1px 0px #cccccc;
  background-color: $cor;
}
@mixin inputtxt {

  border-radius: 5px;
  border: 1px solid #e2e2e2;
  box-shadow: 1px 1px $blur #c2c2c2;
  padding: 8px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
}
body {
  padding: 1rem;
  font-family: "Quicksand", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.logo {
    font-family: 'Roboto Condensed', sans-serif;
  font-size: 4rem;
  font-weight: bold;
  background: #0eb5cf;
  background: radial-gradient(
    circle farthest-corner at center center,
    #0eb5cf 0%,
    #fff700 50%,
    #04cf18 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
h1 {
  font-size: 3.5rem;
  font-weight: bold;
  color: #303030;
  font-family: 'Roboto Condensed', sans-serif;
  text-align: center;
}

input {
  @include margem;
}
button {
  @include margem;
}
table {
  background-color: #f3f3f3;
  border: 1px none rgb(185, 185, 185);
  border-collapse: collapse;
  box-shadow: 1px 1px $blur #bbbbbb;
  border-radius: 5px;
  td {
    border: .5px solid rgb(161, 161, 161);
    border-radius: 5px;
    padding: $pad;
  }
}
th {
  padding: $pad;
}
.subtitulo {
  font-weight: 500;
  font-size: 130%;
}
.cartao {
  background-color: #d85959;
  box-shadow: 1px 1px 10px #bbbbbb;
  border-radius: 5px;
  border-width: 1px;
}
.cartao-conteudo {
  margin: 1rem;
  white-space: wrap;
  overflow: auto;
  text-overflow: ellipsis;
}
.botaoconfirmar {
  @include botao(#44c767);
  color: white;

}
@mixin active($cor){
  transform: translateY(2px);
  background-color: darken($cor,5%);
  box-shadow: none;
}
.botaoconfirmar:active{
  @include active(#44c767);
}
.botaogenerico {
  @include botao(#c2c2c2);
  text-shadow: none;
}
.botaogenerico:active{
  @include active(#c2c2c2);
}
.botaoverde{
  @include botao(#299947);
  color: white;

}
.botaoverde:active{
  @include active(#299947);  
}
.botaovermelho{
  @include botao(#c01919);
color: white;

}
.botaovermelho:active{
  @include active(#c01919);  
}
.btncorrige{
  @include botao(#ee6110);
}
.btncorrige:active{
  @include active(#ee6110);
}
.btnconfirmar{
  @include botao(rgb(44, 155, 0));
}
.btnconfirmar:active{
  @include active(rgb(35, 122, 0));
}
.btnbranco{
  @include botao(white);
  box-shadow: 0px 1px $blur #5c5c5c;
}
.btnbranco:active{
  @include active(rgb(199, 199, 199));
}
.erro {
  font-weight: 500;
  color: white;
  background-color: #d85959;
  box-shadow: 1px 1px $blur #d85959;
  border-radius: 5px;
  padding: 10px;
  display: inline-block;
}
.cartaoform{
    font-weight: bold;
    display: grid;
    grid-auto-flow: row;
    justify-content: center;
    grid-row-gap: 10px;
    grid-template-columns: 20rem ;
    padding: 1.25rem;
    border-radius: 5px;
    box-shadow: 0px 1px $blur #5c5c5c;
}
input[type="text"],
input[type="password"] {
  @include inputtxt;
}
input[type="number"] {
  @include inputtxt;
  width: 100px;
  outline: none;
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}
input[type="text"]:focus,
input[type="password"]:focus,
input[type="number"]:focus {
  border: 1px solid #bebebe;
}
.teclado{
  border-radius: 5px;
  box-shadow: 0px 1px $blur #5c5c5c;
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: center;
  align-content: center;
  padding: $pad;
  gap: 10px;
  background-color: #d1d1d1;
  .btnteclado{
    @include botao(rgb(0, 0, 0));
    color: white;
    box-shadow: 0px 1px $blur #5c5c5c;
    padding: $pad;
  }
  .btnteclado:active{
    @include active(rgb(31, 31, 31));
  }
  .btn0{
    @extend .btnteclado;
    grid-column-start: 2;
  }
  .tecfunc{
    gap: 10px;
    grid-column-start: 1;
    grid-column-end: 4;
    button{
      margin: 10px;
    }
  }
}
#numcand{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  height: 100%;
}