@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed&family=Roboto+Slab:wght@300;400;500;600;700;800;900&display=swap");
body {
  padding: 1rem;
  font-family: "Quicksand", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 4rem;
  font-weight: bold;
  background: #0eb5cf;
  background: radial-gradient(circle farthest-corner at center center, #0eb5cf 0%, #fff700 50%, #04cf18 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h1 {
  font-size: 3.5rem;
  font-weight: bold;
  color: #303030;
  font-family: "Roboto Condensed", sans-serif;
  text-align: center;
}

input {
  margin-top: 3px;
  margin-bottom: 3px;
}

button {
  margin-top: 3px;
  margin-bottom: 3px;
}

table {
  border: 1px none black;
  border-collapse: collapse;
  box-shadow: 1px 1px 2px #bbbbbb;
  border-radius: 5px;
}

td {
  padding: 10px;
}

th {
  padding: 10px;
}

.subtitulo {
  font-weight: 500;
  font-size: 130%;
}

.cartao {
  background-color: #d85959;
  box-shadow: 1px 1px 10px #bbbbbb;
  border-radius: 5px;
  border-width: 1px;
}

.cartao-conteudo {
  margin: 1rem;
  white-space: wrap;
  overflow: auto;
  text-overflow: ellipsis;
}

.botaoconfirmar {
  border-style: none;
  border-radius: 5px;
  padding: 7px;
  cursor: pointer;
  box-shadow: 1px 1px 0px #5c5c5c;
  background-color: #44c767;
  color: white;
}

.botaoconfirmar:active {
  transform: translateY(2px);
  background-color: #35a052;
  box-shadow: none;
}

.botaogenerico {
  border-style: none;
  border-radius: 5px;
  padding: 7px;
  cursor: pointer;
  box-shadow: 1px 1px 0px #5c5c5c;
  background-color: #c2c2c2;
  text-shadow: none;
}

.botaogenerico:active {
  transform: translateY(2px);
  background-color: #949494;
  box-shadow: none;
}

.botaoverde {
  border-style: none;
  border-radius: 5px;
  padding: 7px;
  cursor: pointer;
  box-shadow: 1px 1px 0px #5c5c5c;
  background-color: #299947;
  color: white;
}

.botaoverde:active {
  transform: translateY(2px);
  background-color: #24833d;
  box-shadow: none;
}

.botaovermelho {
  border-style: none;
  border-radius: 5px;
  padding: 7px;
  cursor: pointer;
  box-shadow: 1px 1px 0px #5c5c5c;
  background-color: #c01919;
  color: white;
}

.botaovermelho:active {
  transform: translateY(2px);
  background-color: #9e1616;
  box-shadow: none;
}

.btncorrige {
  border-style: none;
  border-radius: 5px;
  padding: 7px;
  cursor: pointer;
  box-shadow: 1px 1px 0px #5c5c5c;
  background-color: #ee6110;
}

.btncorrige:active {
  transform: translateY(2px);
  background-color: #d45810;
  box-shadow: none;
}

.btnconfirmar {
  border-style: none;
  border-radius: 5px;
  padding: 7px;
  cursor: pointer;
  box-shadow: 1px 1px 0px #5c5c5c;
  background-color: rgb(44, 155, 0);
}

.btnconfirmar:active {
  transform: translateY(2px);
  background-color: rgb(35, 122, 0);
  box-shadow: none;
}

.btnbranco {
  border-style: none;
  border-radius: 5px;
  padding: 7px;
  cursor: pointer;
  box-shadow: 1px 1px 0px #5c5c5c;
  background-color: white;
  box-shadow: 0px 1px 2px #5c5c5c;
}

.btnbranco:active {
  transform: translateY(2px);
  background-color: rgb(199, 199, 199);
  box-shadow: none;
}

.erro {
  font-weight: 500;
  color: white;
  background-color: #d85959;
  box-shadow: 1px 1px 2px #d85959;
  border-radius: 5px;
  padding: 10px;
  display: inline-block;
}

.cartaoform {
  font-weight: bold;
  display: grid;
  grid-auto-flow: row;
  justify-content: center;
  grid-row-gap: 10px;
  grid-template-columns: 20rem;
  padding: 1.25rem;
  border-radius: 5px;
  box-shadow: 0px 1px 2px #5c5c5c;
}

input[type=text],
input[type=password] {
  border-style: none;
  border-radius: 5px;
  border: 1px solid rgba(255, 255, 255, 0);
  box-shadow: 1px 1px 2px #bbbbbb;
  padding: 8px;
  transition: 0.5s;
  outline: none;
}

input[type=number] {
  border-style: none;
  border-radius: 5px;
  border: 1px solid rgba(255, 255, 255, 0);
  box-shadow: 1px 1px 2px #bbbbbb;
  padding: 8px;
  transition: 0.5s;
  outline: none;
  width: 100px;
  outline: none;
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

input[type=text]:focus,
input[type=password]:focus,
input[type=number]:focus {
  border: 1px solid #bebebe;
}

.teclado {
  border-radius: 5px;
  box-shadow: 0px 1px 2px #5c5c5c;
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: center;
  align-content: center;
  padding: 10px;
  gap: 10px;
}
.teclado .btnteclado, .teclado .btn0 {
  border-style: none;
  border-radius: 5px;
  padding: 7px;
  cursor: pointer;
  box-shadow: 1px 1px 0px #5c5c5c;
  background-color: rgb(0, 0, 0);
  color: white;
  box-shadow: 0px 1px 2px #5c5c5c;
  padding: 10px;
}
.teclado .btnteclado:active, .teclado .btn0:active {
  transform: translateY(2px);
  background-color: rgb(31, 31, 31);
  box-shadow: none;
}
.teclado .btn0 {
  grid-column-start: 2;
}
.teclado .tecfunc {
  gap: 10px;
  grid-column-start: 1;
  grid-column-end: 4;
}
.teclado .tecfunc button {
  margin: 10px;
}/*# sourceMappingURL=style.css.map */