@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed&family=Roboto+Slab:wght@300;400;500;600;700;800;900&display=swap");
body {
  padding: 1rem;
  font-family: "Quicksand", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 4rem;
  font-weight: bold;
  background: #0eb5cf;
  background: radial-gradient(circle farthest-corner at center center, #0eb5cf 0%, #fff700 50%, #04cf18 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h1 {
  font-size: 3.5rem;
  font-weight: bold;
  color: #303030;
  font-family: "Roboto Condensed", sans-serif;
  text-align: center;
}

input {
  margin-top: 3px;
  margin-bottom: 3px;
}

button {
  margin-top: 3px;
  margin-bottom: 3px;
}

table {
  border: 1px none black;
  border-collapse: collapse;
  box-shadow: 1px 1px 3px #bbbbbb;
  border-radius: 5px;
}

td {
  padding: 10px;
}

th {
  padding: 10px;
}

.subtitulo {
  font-weight: 500;
  font-size: 130%;
}

.cartao {
  background-color: #d85959;
  box-shadow: 1px 1px 10px #bbbbbb;
  border-radius: 5px;
  border-width: 1px;
}

.cartao-conteudo {
  margin: 1rem;
  white-space: wrap;
  overflow: auto;
  text-overflow: ellipsis;
}

.botaoconfirmar {
  border-style: none;
  border-radius: 5px;
  padding: 7px;
  text-shadow: 0px 1px 3px #636363;
  cursor: pointer;
  box-shadow: 1px 1px 3px #bbbbbb;
  color: white;
  background-color: #44c767;
  box-shadow: 1px 1px 3px #44c767;
}

.botaogenerico {
  border-style: none;
  border-radius: 5px;
  padding: 7px;
  text-shadow: 0px 1px 3px #636363;
  cursor: pointer;
  box-shadow: 1px 1px 3px #bbbbbb;
  color: #666666;
  text-shadow: none;
}

.erro {
  font-weight: 500;
  color: white;
  background-color: #d85959;
  box-shadow: 1px 1px 3px #d85959;
  border-radius: 5px;
  padding: 10px;
  display: inline-block;
}

.cartaoform {
  font-weight: bold;
  display: grid;
  grid-auto-flow: row;
  justify-content: center;
  grid-row-gap: 10px;
  grid-template-columns: 20rem;
  padding: 1.25rem;
  border-radius: 5px;
  box-shadow: 0px 1px 3px #5c5c5c;
}

input[type=text],
input[type=password] {
  border-style: none;
  border-radius: 5px;
  border: 1px solid rgba(255, 255, 255, 0);
  box-shadow: 1px 1px 3px #bbbbbb;
  padding: 8px;
  transition: 0.5s;
  outline: none;
}

input[type=number] {
  border-style: none;
  border-radius: 5px;
  border: 1px solid rgba(255, 255, 255, 0);
  box-shadow: 1px 1px 3px #bbbbbb;
  padding: 8px;
  transition: 0.5s;
  outline: none;
  width: 100px;
  outline: none;
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

input[type=text]:focus,
input[type=password]:focus,
input[type=number]:focus {
  border: 1px solid #bebebe;
}/*# sourceMappingURL=style.css.map */