@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
$pad: 10px;
$blur: 3px;
@mixin margem{
    margin-top: 3px;
    margin-bottom: 3px;
    }
@mixin botao{
    border-style: none;
    border-radius: 5px;
    padding: 7px;
    text-shadow:0px 1px $blur #636363;
    cursor: pointer;
    box-shadow: 1px 1px $blur #bbbbbb ;
}
@mixin inputtxt{
    border-style: none;
    border-radius: 5px;
    border: 1px solid #ffffff00;
    box-shadow: 1px 1px $blur #bbbbbb ;
    padding: 8px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}
body{
    padding: 1rem;
    font-family: 'Quicksand', sans-serif;

}
h1{
    font-weight: 600;
}
input{
    @include margem;
}
button{
    @include margem;
}
table {
    border: 1px none black;
    border-collapse: collapse;
    box-shadow: 1px 1px $blur #bbbbbb ;
    border-radius: 5px;
    
}
td{
    padding: $pad;
}
th{
    padding: $pad;
}
.cartao{
    background-color: #d85959;
    box-shadow: 1px 1px 10px #bbbbbb ;
    border-radius: 5px;
    border-width: 1px;
  }
  .cartao-conteudo{
    margin: 1rem;
    white-space: wrap;
    overflow: auto;
    text-overflow: ellipsis;
  }
.botaoconfirmar{
    @include botao;
    color: white;
    background-color:#44c767;
    box-shadow: 1px 1px $blur #44c767 ;
}
.botaogenerico{
    @include botao;
    color: #666666;
    text-shadow: none;
}
.erro{
    font-weight: 500;
    color: white;
    background-color: #d85959;
    box-shadow: 1px 1px $blur #d85959 ;
    border-radius: 5px;
    padding: 10px;
    display:inline-block;
}
input[type=text], input[type=password]{
    @include inputtxt;
}
input[type=number]{
    @include inputtxt;
    width: 100px;
    outline: none;
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
         appearance: textfield;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none;
}
input[type=text]:focus, input[type=password]:focus, input[type=number]:focus{
    border: 1px solid #bebebe;
}